<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>" id = conversation_<%=conversation.id%>>
    <div class="panel-heading">
      <%recipient = conversation.opposed_user(user)%>
      <div class="fl">
        <%if recipient.is_blocked_by(current_user.id)%>
          <img src=<%= "/assets/profile_icon.png"%> class="pf_img1">
          <%= link_to recipient.email, "javascript:void(0)" %>
        <%else%>
          <img src=<%= recipient.images.present? && recipient.images.last.image.url.present? ? recipient.images.order("id").last.image.url(:thumb) : "/assets/profile_icon.png"%> class="pf_img1 user_img" data-id = <%=recipient.id%>  >
          <%= link_to recipient.email, "/users/#{encode_id(recipient.id)}", class: 'toggle-window' %>
        <%end%>
      </div>
      <div class="fr">
        <div class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/assets/more_icon.png" alt=":" class="more_icon">
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <%= link_to "View User", recipient.is_blocked_by(current_user.id) ? "javascript:void(0)" : "/users/#{encode_id(recipient.id)}", class: 'toggle-window' %>
            </li>
            <li class="divider"></li>
            <li>
              <%if current_user.is_blocked_by(recipient.id) %>
                <a href="/users/unblock/<%=encode_id(recipient.id)%>">UnBlock</a>
              <%else%>
                <a href="/users/block/<%=encode_id(recipient.id)%>">Block</a>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
      <div class="cb"></div>
    </div>

    <div class="panel-body">
      <div class="messages-list">
        <div class="blocked_user_sec">
          <%#if !current_user.is_blocked_by(recipient.id) && !conversation.is_accepted %>
            <!-- <a href="/users/block/<%=encode_id(recipient.id)%>">Block</a> -->
          <%#end%>
          <%if !conversation.is_accepted && conversation.recipient_id == current_user.id%>
            <a href="/users/block/<%=encode_id(recipient.id)%>">Block</a>
            <a href="/conversations/accept/<%=encode_id(conversation.id)%>">Accept</a>
          <%end%>
        </div>
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages.order("created_at"), user: user %>
        </ul>
      </div>
      <%if current_user.is_blocked_by(recipient.id) %>
        <div class="text_center">
          <a href="/users/unblock/<%=encode_id(recipient.id)%>" >UnBlock</a> to start chating.
        </div>
      <%elsif recipient.is_blocked_by(current_user.id) %>
        <div class="text_center">
          <b><%=recipient.email%></b> has been blocked you.
        </div>
      <%else%>
        <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
          <%= hidden_field_tag :recipient_id, recipient.id, :class => "recipient_id", id:"" %>
          <%= hidden_field_tag :conversation_id, conversation.id, :class => "conversation_id", id:""  %>
          <div class="send_message_container emoji-picker-container">
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.text_area :body, class: "text_area autoExpand", :row => '1', "data-min-rows" => '1', data: { emojiable: true }  %>
            <img src="/assets/right_arrow.jpg" alt="=>" class="send" onclick="submitForm(this)">
            <%= f.submit "Send", class: "send_msg_btn" %>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</li>
<div class="modal fade" id="displayUserImage" role="dialog"></div>  
<script type="text/javascript">
  var messages_list = $('.messages-list');
  var height = messages_list[0].scrollHeight;
  messages_list.scrollTop(height);
  var text_area;
  var sender_id = "";
  App.room = App.cable.subscriptions.create("RoomChannel", {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
      if(data['recipient_id'] == "<%=current_user.id%>"){
        if ("Notification" in window) {
          if (Notification.permission === "granted") {
            if((data['message'].length) > 30){
              var data_message = data['message'].substring(0, 30) + "..."
            }else{
              var data_message = data['message'];
            }
            var options = {
              body: data_message,
              icon: "/assets/profile_icon.png",
              dir : "ltr"
            };
            var notification = new Notification("New message from: "+data['email'],options);
          }
        }

        $("#conversation_"+data['conversation_id']).find('.messages-list ul').append("<li><div class='message-received'>" + data['message'].replace(/\n/g, "<br />") + "</div><div class='clearfix'></div></li>");
        var messages_list = $("#conversation_"+data['conversation_id']).find('.messages-list');
        var height = messages_list[0].scrollHeight;
        messages_list.scrollTop(height);
        return;
      }
    },
    speak: function(message, conversation_id, recipient_id, sender_id) {
      return this.perform('speak', {
        message: message,
        conversation_id: conversation_id,
        recipient_id: recipient_id, 
        sender_id: sender_id
      });
    }
  });


  function submitForm(obj) {
    text_area = $(obj).closest("form").find(".text_area");
    var msg = text_area.val().trim();
    var recipient_id = $(obj).closest("form").find(".recipient_id").val();
    var conversation_id = $(obj).closest("form").find(".conversation_id").val();
    var sender_id = "<%=current_user.id%>";
    if( msg.length != 0){
      $(obj).closest("form").submit();
      sender_id = "<%=current_user.id%>";
      App.room.speak(msg, conversation_id, recipient_id, sender_id );
      $("textarea").css("height","32px");
    }else{
      text_area.focus();
    }
  }


  // $(".send").on('click', function(event) {
  //   text_area = $(this).closest("form").find(".text_area");
  //   var msg = text_area.val().trim();
  //   var recipient_id = $(this).closest("form").find(".recipient_id").val();
  //   var conversation_id = $(this).closest("form").find(".conversation_id").val();
  //   var sender_id = "<%=current_user.id%>";
  //   if( msg.length != 0){
  //     $(this).closest("form").submit();
  //     sender_id = "<%=current_user.id%>";
  //     App.room.speak(msg, conversation_id, recipient_id, sender_id );
  //   }
  // });

  $(".user_img").click(function(){
    var id = $(this).data("id");
    $.ajax({
      type: "GET",
      url: "/users/image/"+id,
      success: function(data) {
        $("#displayUserImage").html(data).modal("show");
      },
      error: function(data){
        alert("Got an error while fetching user image.!!!");
      }
    });
  })
</script>