<style type="text/css">
  .text_area{resize:none;border-radius: 30px;padding: 5px 20px;height: 60px !important;}
  .send {cursor: pointer;position: absolute;right: 12px;top: 7px;opacity: 0.5;font-size: 22px;border: 1px solid #050505;display: inline-block;padding: 11px;border-radius: 50%;}
  .send:hover { opacity: 0.9;background: #eee; }
  .send_msg_btn{display: none;}
  .send_message_container{position: relative;margin-top: 10px;padding-right: 70px;}

</style>
<div class="panel panel-default group_container" data-conversation-id="<%= @group.id %>" id = group_<%=@group.id%>>
  <div class="panel-heading">
    <div class="fl">
      <%= link_to "javascript:void(0)", :class => "group_info" do %>
        <img src=<%= @group.images.present? && @group.images.last.image.url.present? ? @group.images.order("id").last.image.url(:thumb) : "/assets/group_icon.png"%> class='pf_img1' >
        <span><%=@group.name%></span>
      <%end%>
    </div>  
    <div class="fr">
      <div class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/assets/more_icon.png" alt=":" class="more_icon">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= link_to "javascript:void(0)", :class => "edit_group", "data-id" => @group.id do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <%end%> 
          </li>
        </ul>
      </div>
    </div>
    <div class="cb"></div>
    <div class="show_group_info">
      <div class="user_list">
        <a href="javascript:void(0)" class="add_user" data-toggle="modal" data-target="#userList">+ Add User</a>
        <%@group.users.each do |user|%>
          <div>
            <a href=<%conversations_path(user_id: encode_id(user.id))%>>
              <div class="user_profile" title=<%=user.email%>>
                <%=user.email[0].upcase%>
              </div>
              <div class="user_name">
                <%=user.email%>
              </div>
              <div class="cb"></div>
            </a>
          </div>
        <%end%>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="messages-list">
      <ul>
        <%= render 'groups/conversation_content', group_messages: @group_messages %>
      </ul>
    </div>
    <%= form_for @group.group_messages.new, remote: true do |f| %>
      <%= hidden_field_tag "group_message[group_id]", @group.id, id:"group_id" %>
      <div class="send_message_container">
        <%= f.text_area :body, class: "form-control text_area" %>
        <span class="glyphicon glyphicon-arrow-right send" onclick="submitForm(this)"></span>
        <%= f.submit "Send", class: "send_msg_btn" %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="userList" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="add_user_sec">
          <div>
            <%= form_for(UserGroup.new, url: "/user_groups/create", html: { method: :post }) do |f| %>
              <%= f.hidden_field :user_id%>
              <%= text_field_tag :my_contacts,"", :required => true, :id => "my_contacts", :placeholder => "Search user..."%>
              <%= hidden_field_tag "user_group[group_id]", @group.id %>
              <div style="margin-top:10px;">
                <%=f.submit :"Add User", :class => "btn btn-success"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> 
<div class="modal fade" id="editGroup" role="dialog">

</div>    
<script type="text/javascript">
  $(".edit_group").click(function(){
    var id = $(this).data("id");
    $.ajax({
      type: "GET",
      url: "/groups/edit/"+id,
      success: function(data) {
        $("#editGroup").html(data).modal("show");
      },
      error: function(data){
        alert("Got an error while on delete method.!!!");
      }
    });
  })
  var options = {
    url: "/my_contacts",
    getValue: "email",
    // template: {
    //     type: "description",
    //     fields: {
    //         description: "email"
    //     }
    // },
    list: {
        match: {
            enabled: true
        },
        onClickEvent: function() {
          var value = $("#my_contacts").getSelectedItemData().id;
          console.log(value);
          $("#user_group_user_id").val(value);
        }
    },

    theme: "plate-light"
  };

  $("#my_contacts").easyAutocomplete(options);

  $(".group_info").on('click', function(){
    $(".user_list").slideToggle();
  })




  var messages_list = $('.messages-list');
  var height = messages_list[0].scrollHeight;
  messages_list.scrollTop(height);
  var text_area;
  var sender_id = "";
  App.group_chat = App.cable.subscriptions.create("GroupChatChannel", {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
      var is_active = true;
      $(window).focus(function() {
        is_active = true;
        console.log(true);
      });

      $(window).focusout(function() {
        is_active = false;
        console.log(true);
      });
      if(data['sender_id'] != "<%=current_user.id%>"){
        if ("Notification" in window) {
          if (Notification.permission === "granted") {
            var options = {
              body: data['message'],
              icon: "/assets/profile_icon.png",
              dir : "ltr"
            };
            var notification = new Notification("New message from: "+data['email'],options);
          }
        }
        $("#group_"+data['group_id']).find('.messages-list ul').append("<li><div class='user_profile' title='"+data['email']+"'>"+data['email'].charAt(0)+"</div><div class='message-received'>" + data['message'] + "</div><div class='clearfix'></div></li>");
        var messages_list = $("#group_"+data['group_id']).find('.messages-list');
        var height = messages_list[0].scrollHeight;
        messages_list.scrollTop(height);
        return;
      }
    },
    conversation: function(message, group_id, sender_id) {
      return this.perform('conversation', {
        message: message,
        group_id: group_id,
        sender_id: sender_id
      });
    }
  });


  function submitForm(obj) {
    text_area = $(obj).closest("form").find(".text_area");
    var msg = text_area.val().trim();
    var recipient_id = $(obj).closest("form").find(".recipient_id").val();
    var group_id = $(obj).closest("form").find("#group_id").val();
    var sender_id = "<%=current_user.id%>";
    if( msg.length != 0){
      $(obj).closest("form").submit();
      sender_id = "<%=current_user.id%>";
      App.group_chat.conversation(msg, group_id, sender_id );
    }else{
      text_area.focus();
    }
  }
</script>
