<style type="text/css">
   #profile-image1 {
   cursor: pointer;width: 100px;height: 100px;border:2px solid #03b1ce ;
   }
   .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
</style>
<div class="container">
   <div class="row">
      <div class="col-md-7 ">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="fl">
                  <h4 >User Profile</h4>
               </div>
               <div class="fr">
                  <div class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                      <img src="/assets/more_icon.png" alt=":" class="more_icon">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <%= link_to "javascript:void(0)", :class => "edit_user", "data-id" => @user.id do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          Edit
                        <%end%> 
                      </li>
                    </ul>
                  </div>
               </div>
               <div class="cb"></div>
            </div>
            <div class="panel-body">
               <div class="box box-info">
                  <div class="box-body">
                     <div class="col-sm-6">
                        <div  align="center">
                           <img src=<%= @user.images.present? && @user.images.last.image.url.present? ? @user.images.order("id").last.image.url(:thumb) : "/assets/group_icon.png"%> class='pf_img1 group_img img-circle img-responsive' data-id = <%=@user.id%> id="profile-image1">
                           
                           <input id="profile-image-upload" class="hidden" type="file">
                           <!-- <div style="color:#999;" >click here to change profile image</div> -->
                           <!--Upload Image Js And Css-->
                        </div>
                        <br>
                        <!-- /input-group -->
                     </div>
                     <div class="col-sm-6">
                        <h4 style="color:#00b1b1;">
                           <%=@user.first_name%>

                           <%=@user.last_name%>
                        </h4>
                        </span>
                        <!-- <span>
                           <p>Position</p>
                        </span> -->
                     </div>
                     <div class="clearfix"></div>
                     <hr style="margin:5px 0 5px 0;">
                     <div class="col-sm-5 col-xs-6 tital " >First Name:</div>
                     <div class="col-sm-7 col-xs-6 "><%=@user.first_name%></div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Last Name:</div>
                     <div class="col-sm-7"> <%=@user.last_name%></div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Email:</div>
                     <div class="col-sm-7"> <%=@user.email%></div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Created on:</div>
                     <div class="col-sm-7"><%=time_ago_in_words(@user.created_at)%> ago</div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                  </div>
                  <!-- /.box -->
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="editUser" role="dialog"></div> 
      <script>
         // $(function() {
         // $('#profile-image1').on('click', function() {
         // $('#profile-image-upload').click();
         // });
         // }); 
         $(".edit_user").click(function(){
          var id = $(this).data("id");
          $.ajax({
            type: "GET",
            url: "/users/edit/"+id,
            success: function(data) {
              $("#editUser").html(data).modal("show");
            },
            error: function(data){
              alert("Got an error on edit method.!!!");
            }
          });
        })      
      </script> 
   </div>
</div>